
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body{
 font-family: 'Inconsolata', monospace;
   font-size: 18px;
   text-align: center;
}
h1{
	font-size: 40px;
}
.page{
	border: solid 2px #1E9486 ;
	border-width: all;
	border-radius: 15px;
	padding: 5px;
	margin: auto;
}