
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body{
font-family: 'Inconsolata', monospace;
margin: 0px;
padding: 0px;
}


h1{
	text-align: center;
	font-size: 40px;
}
/*On utilise ">" pour ne cibler que la liste ul qui *est un enfant direct de nav*/

nav > ul{
margin: 0px;
padding: 0px;
}
/*On enlève les puces devant tous les éléments li *appartenant à notre élément nav*/
nav li{
list-style-type: none;
}
/*On affiche seulement les éléments li corrzspondant à *nos onglets de menu en ligne(côte à côte)*/
nav > ul > li{
float: left;
}

.submenu{
display: none;
}
/*On rend notre case à cocher invisible*/
nav input[type=checkbox]{
display: none;
}
/*on cache le bouton affichant le menu mobile*/
.menu-mobile{
display: none;
}

nav{
width: 100%;
background-color: #383E3E ;
}

/*On affiche seulement les éléments les éléments li correspondant à *nos onglets de menu en ligne (côte à côté)*/
nav> ul > li{
float: left;
position: relative;
}
/*Un "hack" CSS (clearfix) très connu*/
nav > ul:after{
content: "";
display: table;
clear: both;
}
nav a{
display: block;
text-decoration: none;

}
nav > ul > li > a{
padding: 20px 30px;
color: #FFF;
}
nav li:hover .submenu{
display: inline-block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 100000;
}
.submenu li{
border-bottom: 1px solid #8FD1C2;
}
.submenu li a{
padding: 15px 30px;
font-size: 13px;
color: #222538;
width: 270px;
}
.cv:hover{
border-top: 5px solid #74FFF6 ;
background-color: rgba(85, 126, 138, 0.15);
}

.projets:hover{
border-top: 5px solid #74FFF6 ;
background-color: rgba(85, 126, 138, 0.15);
}
.veilles:hover{
border-top: 5px solid #74FFF6 ;
background-color: rgba(85, 126, 138, 0.15);
}

.accueil:hover{

background-color: rgba(85, 126, 138, 0.15);
}
.contact:hover{
background-color: rgba(85, 126, 138, 0.15);
}



.cv .submenu{
background-color: rgb(166, 216, 210);
}
.projets .submenu{
background-color: rgb(166, 216, 210);
}
.veilles .submenu{
background-color: rgb(166, 216, 210);
}
.submenu li:hover a{
color: #EEE;
font-weight: bold;
}
.cv .submenu li:hover{
background-color: rgb(147, 191, 191 );
}
.projets .submenu li:hover{
background-color: rgb(147, 191, 191 );
}
.veilles .submenu li:hover{
background-color: rgb(147, 191, 191 );
}



/*lorsque la case est cochée(dès qu'un utilisateur appuie sur *notre bouton*), le menu entier s'affiche*/

nav input[type=checkbox]:checked ~ ul{
display: block;
}

